[2019-03-18 17:28] timbeiko opened #1 "Add uPnP Support"
### Description
Add support for uPNP (Universal Plug and Play) for all the networking in [Pantheon](https://github.com/PegaSysEng/pantheon/). The goal for this work is to allow developers and community users to quickly allow inbound peer connections without requiring manual router configuration.

The implementation should be fairly standalone and only support UPNP and NAT. Further work, outside th

[2019-03-18 17:32] timbeiko opened #2 "Explicit Configuration & General internal NAT API"
### Description
Create a general internal API to support Network Address Translation (NAT) technologies in [Besu](https://github.com/hyperledger/besu/). The goal of this work is to offer developers a consistent API for performing NAT tasks so that I can abstractly add support for new NAT systems (e.g. Docker, Kubernetes, etc.) with a minimum amount of code changes. As a second NAT style, explicit

[2019-03-18 17:33] timbeiko opened #3 "Add NAT Docker Support"
### Description
The goal of this work is to offer developers a consistent API for performing NAT tasks, and add support for Docker’s NAT implementation when [Pantheon](https://github.com/PegaSysEng/pantheon/) is being run from a Docker container.

### Acceptance Criteria
* Properly detects when Pantheon is being run inside a docker container.
* Interacts with Docker APIs, as needed, to determine e

[2019-03-18 17:34] timbeiko opened #4 "Add NAT Kubernetes Support"
### Description
The goal of this work is to add support for Kubernetes’s NAT implementation when [Besu](https://github.com/hyperledger/besu) is being run from a Kubernetes cluster.

### Acceptance Criteria
* Properly detects when Pantheon is being run inside a Kubernetes cluster.
* Interacts with Kubernetes APIs, as needed, to determine external IP address and exposed ports.
* Utilizes interfaces

[2019-04-08 17:38] timbeiko commented on #1
Hey @notlesh,

Thanks for applying to work on this bounty. You are right about TomP2P using Weupnp!

Unfortunately, that library uses the LGPL license which isn't compatible with Pantheon (which is Apache 2.0).  We are happy to accept your submission if you go with an Apache 2.0 friendly library.

Someone on our team mentioned that https://github.com/jupnp/jupnp could work, as long as the binaries

[2019-04-08 18:18] notlesh commented on #1
Hi @timbeiko,

jupnp looks good to me. There's definitely a lot of mileage on that codebase -- it's one of 427 forks of `cling`: https://github.com/4thline/cling.

If you're happy with this, I'll be off to the races as soon as you accept my submission.

Thanks!

[2019-04-08 21:00] timbeiko commented on #1
@notlesh someone on our team is currently working on a part of the code that may touch some of what you'll be working on. They should put up a draft PR with some comments for you tomorrow.

Please ping me once you've had a look at the comments and I'll approve you for the bounty.

Cheers!

[2019-04-09 16:52] gutsal-arsen commented on #1
@notlesh how u r going to test networking?

[2019-04-09 18:27] notlesh commented on #1
@mbaxter sounds good. My goal is to implement it such that it can run mostly independently, so I'll focus on this and test cases for now.

[2019-04-09 18:27] notlesh commented on #1
@gutsal-arsen Good question, I'm not quite sure yet. I'm happy to have some suggestions :)

[2019-04-09 18:27] timbeiko commented on #1
@notlesh great, I'll approve you to start the work right now, then!

[2019-04-09 18:32] timbeiko commented on #1
@gutsal-arsen I see you have also applied to start the work. Unfortunately, given that @notlesh applied first, we will approve him to start the work. We will be posting other bounties to this repository, so please keep an eye out for them :-)

[2019-04-10 01:16] gutsal-arsen commented on #1
@notlesh `docker-compose` virtual network inside docker swarm on several _real_ nodes?

[2019-04-10 13:40] timbeiko opened #6 "[Ethereal Hackathon] GraphQL EIP-1767 Implementation for Pantheon"
# Description

Implement a GraphQL interface to expose data about a [Pantheon](https://github.com/PegaSysEng/pantheon/) node that conforms to [EIP-1767](https://eips.ethereum.org/EIPS/eip-1767). As the EIP specifies, the implementation should allow “a complete replacement to the read-only information exposed via the present JSON-RPC interface”.

**Note: if you wish to work on this bounty for the h

[2019-04-15 21:44] notlesh commented on #1
Yes, I'm still actively working on this. Much of the jupnp example code and code comments are severely outdated and even basic device discovery appears to be broken. For example, the test code here clearly doesn't work:

`https://github.com/jupnp/jupnp/blob/master/bundles/org.jupnp/src/main/java/org/jupnp/Main.java`

I am currently trying to vet the basic functionality to ensure this will suffice

[2019-04-16 05:29] gutsal-arsen commented on #6
@timbeiko started on [this](https://gitcoin.co/issue/PegaSysEng/BountiedWork/6/2829)

[2019-04-16 17:18] ekellstrand commented on #6
Hi Arsen,  First off, thanks for taking up this challenge.   Are you on the Hackathon Discord at https://discord.gg/r75Qbj ?  Is there anything I can do to help you get started?  What timezone are you in?

[2019-04-17 06:20] gutsal-arsen commented on #6
@ekellstrand I'm UTC+2.00 (Ukraine). I'll ask my questions in Discord once I have them.

[2019-04-17 14:26] ekellstrand commented on #6
@gutsal-arsen, There is some other interest in working on this, and for the hackathon, multiple submissions are allowed and judged.  Or people can choose to team up.  Either way is great.  Coordination will happen on discord.

[2019-04-18 00:26] ryan-shea commented on #6
@gutsal-arsen @ekellstrand feel free to join this channel specifically to discuss the bounty! https://discord.gg/ePTG2yZ

[2019-04-22 12:26] zyfrank commented on #6
@ekellstrand @timbeiko
Please take a look at WIP :https://github.com/PegaSysEng/pantheon/pull/1311
It can do basic block query.  Of course it need many refactor. Just want to make sure I'm on the right direction.

[2019-04-22 17:18] notlesh commented on #1
My apologies, it's been a busy weekend for me. Here's an update on my status and where I expect to be in the short term:

1. I found the root cause for the jupnp bug I alluded to earlier and submitted a fix PR to the jupnp repository:
`https://github.com/jupnp/jupnp/pull/117`

2. I created a sort of sandbox to test these UPnP IGD features in, located here:
`https://github.com/notlesh/jupnp-igd-too

[2019-04-23 14:52] shemnon commented on #1
I'm on pegasys and I've asked Tim to snooze the reminder bot.

[2019-04-23 19:12] alexvotofuture commented on #1
Gitcoinbot messages have been snoozed for 10 days. Sorry for the spam!

[2019-04-25 18:28] ekellstrand commented on #6
@zyfrank I think Danno already gave you a thumbs up in the PR, but I'll add one here as well.

[2019-05-01 20:07] ekellstrand commented on #6
Thanks to Everybody who worked on this.  I look forward to reading through the submissions.  In the mean time, Please send me your email address and eth address so that I can send you a PegaSys Kudos token.  Include an address and T-shirt size, and I'll see what I can do in that department also.  You can send to me direct at eric.kellstrand@consensys.net

[2019-05-01 20:19] zyfrank commented on #6
email: kevin.zhang0125@gmail.com
eth addr: 0x4986C1f2c8A2f71C84825bE29c622A3071be47A2

[2019-05-01 22:35] ryan-shea commented on #6
Hey @zyfrank and @iikirilov, thanks for participating in the hackathon. If you haven't yet, we'd love it if you could fill out this form to document your project name, team members, and link to your submission 🚀 🖌

Once you fill out the form, there's a prize at the end 😉

https://forms.gle/uxSnqQDbsNfqrUbD8

[2019-05-02 19:28] alexvotofuture commented on #1
Hey @notlesh, saw that @shemnon provided some feedback on your initial work. Do you have what you need at this point to proceed? Any updates on your end, and/or an ETA on when this will be ready to go?

[2019-05-03 07:47] notlesh commented on #1
Hi @alexvotofuture, I've followed up on @shemnon's feedback. I mostly have what I need to proceed -- no blockers.

Quick update: I checked in some basic unit testing code. I struggled to add some more in-depth testing, but I will revisit this when it comes time for integration and/or acceptance testing. I also addressed some of @shemnon's feedback in my initial PR. Lastly, I have some thoughts on

[2019-05-10 18:19] #6 closed

[2019-05-14 18:24] alexvotofuture commented on #1
Hey @notlesh, looking forward to seeing a demo of working integration with Pantheon later this week. Let us know if there are any roadblocks.

[2019-05-14 18:55] notlesh commented on #1
I'd be happy to give a demo, let me know what kind of format you'd like. I can also provide instructions on how to test out the functionality.

So far, here's where we're at:

1. UPnP functionality is available to query for external IP address.
1a. This is used to determine whether NAT environment is present.
1b. This is also reflected in the local node's enode info.
2. UPnP functionality is avail

[2019-05-21 01:57] alexvotofuture commented on #1
@notlesh Thanks for the update. I think we're ok; just let us know when you run the integration/acceptance tests.

@shemnon recommended that we handle the work on other ports through a separate PR so we can try out the P2P functionality first.

Appreciate your work so far!

[2019-06-10 14:32] alexvotofuture commented on #1
@notlesh can we get a final PR by the end of this week so we can close out the bounty and get you paid?

[2019-06-10 18:30] notlesh commented on #1
I reached out to @shemnon last week and he said that he would be OOO this week but would see if someone else might be able to help with the PR review. Perhaps @timbeiko might be able to help move this forward?

[2019-06-10 18:55] timbeiko commented on #1
@notlesh, I wish, but I'm not a developer 😅@mbaxter should be able to while @shemnon is out :-)

[2019-06-10 19:21] mbaxter commented on #1
yep, I will take a look!

[2019-06-10 23:41] jrhea opened #7 "Hobbits test suite"
Hobbits is a network protocol for distributed systems meant for simple interactions between peers. Hobbits is used to explore and test interactions between Ethereum 2.0 clients as they firm up network requirements.

This bounty will be awarded to the team or individual implementing a conformance test suite for hobbits defined by the specification of the wire protocol and the specification of the g

[2019-06-10 23:42] jrhea opened #8 "Hobbits test client relay"
Hobbits is a network protocol for distributed systems meant for simple interactions between peers. Hobbits is used to explore and test interactions between Ethereum 2.0 clients as they firm up network requirements.

This bounty will be awarded to the team or individual implementing a Hobbits test client defined by the specification of the wire protocol and the specification of the gossip protocol.

[2019-06-10 23:43] jrhea opened #9 "Go Hobbits implementation"
Hobbits is a network protocol for distributed systems meant for simple interactions between peers. Hobbits is used to explore and test interactions between Ethereum 2.0 clients as they firm up network requirements.

This bounty will be awarded to the team or individual implementing hobbits as defined by the specification of the wire protocol and the specification of the gossip protocol in the Gola

[2019-06-10 23:46] jrhea opened #10 "Rust Hobbits implementation"
Hobbits is a network protocol for distributed systems meant for simple interactions between peers. Hobbits is used to explore and test interactions between Ethereum 2.0 clients as they firm up network requirements.

This bounty will be awarded to the team or individual implementing hobbits as defined by the specification of the wire protocol and the specification of the gossip protocol in Rust lan

[2019-06-10 23:48] jrhea opened #11 "JavaScript Hobbits implementation"
Hobbits is a network protocol for distributed systems meant for simple interactions between peers. Hobbits is used to explore and test interactions between Ethereum 2.0 clients as they firm up network requirements.

This bounty will be awarded to the team or individual implementing hobbits as defined by the specification of the wire protocol and the specification of the gossip protocol, in a langu

[2019-06-10 23:49] jrhea opened #12 "Nim Hobbits implementation"
Hobbits is a network protocol for distributed systems meant for simple interactions between peers. Hobbits is used to explore and test interactions between Ethereum 2.0 clients as they firm up network requirements.

This bounty will be awarded to the team or individual implementing hobbits as defined by the specification of the wire protocol and the specification of the gossip protocol in the Nim

[2019-06-11 00:12] jrhea opened #13 "Prysm Hobbits Integration"
This bounty will be awarded to the team or individual integrating hobbits as defined by the specification of the wire protocol and the specification of the gossip protocol in into the Prysm client.

### Acceptance criteria:
- The implementation is delivered under a permissive open source license (MIT and/or ASL)
- The implementation follows Go best practices.
- The implementation has significant t

[2019-06-11 00:13] jrhea opened #14 "Lighthouse Hobbits Integration"
This bounty will be awarded to the team or individual integrating hobbits as defined by the specification of the wire protocol and the specification of the gossip protocol into the Lighthouse client.

### Acceptance criteria:
- The implementation is delivered under a permissive open source license (MIT and/or ASL)
- The implementation follows Rust best practices.
- The implementation has significa

[2019-06-11 00:14] jrhea opened #15 "Lodestar Hobbits Integration"
This bounty will be awarded to the team or individual integrating hobbits as defined by the specification of the wire protocol and the specification of the gossip protocol into the Lodestar client.

### Acceptance criteria:
- The implementation is delivered under a permissive open source license (MIT and/or ASL)
- The implementation follows Javascript (or Typescript) best practices.
- The implemen

[2019-06-11 00:14] jrhea opened #16 "Nimbus Hobbits Integration"
This bounty will be awarded to the team or individual integrating hobbits as defined by the specification of the wire protocol and the specification of the gossip protocol into the Nimbus client.

### Acceptance criteria:
- The implementation is delivered under a permissive open source license (MIT and/or ASL)
- The implementation follows Nim best practices.
- The implementation has significant te

[2019-06-12 01:46] prestonvanloon commented on #9
Is this done already? https://github.com/deltap2p/hobbits/tree/master/parsers/go

[2019-06-12 19:36] jrhea opened #17 "Python Hobbits Implementation"
Hobbits is a network protocol for distributed systems meant for simple interactions between peers. Hobbits is used to explore and test interactions between Ethereum 2.0 clients as they firm up network requirements.

This bounty will be awarded to the team or individual implementing hobbits as defined by the specification of the wire protocol and the specification of the gossip protocol in Python 3

[2019-06-12 19:44] jrhea opened #18 "Trinity Hobbits Integration"
This bounty will be awarded to the team or individual integrating hobbits as defined by the specification of the wire protocol and the specification of the gossip protocol into the Trinity client.

### Acceptance criteria:
- The implementation is delivered under a permissive open source license (MIT and/or ASL)
- The implementation follows Python 3 best practices.
- The implementation has signific

[2019-06-13 01:52] AgeManning commented on #10
I think this implementation should be built using the `Tokio` rust library.

The implementation should behave like a tokio `Stream` which when polled returns hobbits events. This will allow users to asynchronously receive messages from the Hobbits protocol.

[2019-06-13 10:52] rsercano commented on #11
Please let me know if you give up on this @gregthegreek

[2019-06-13 13:21] zah commented on #16
If someone wants to try implementing this, please base your work on the latest code in the [libp2p-builds](https://github.com/status-im/nim-beacon-chain/tree/libp2p-builds) branch of Nimbus's beacon chain repo (which may soon be merged).

Hobbits can be implemented as a back-end file similar to the existing [libp2p_spec_backend.nim](https://github.com/status-im/nim-beacon-chain/blob/libp2p-builds/

[2019-06-13 16:10] GregTheGreek commented on #11
@rsercano how quickly do you think you can get this done?

[2019-06-13 23:05] jrhea commented on #8
@atoulme looks good.  Just tested it:
[code]

[2019-06-13 23:33] #8 closed

[2019-06-13 23:38] jrhea commented on #9
@prestonvanloon

it is a good start

[2019-06-14 00:54] jrhea commented on #10
@AgeManning i'm not seeing a way to add u as an admin.  I am going to poke the GitCoin guys tomorrow and see what we can do.

[2019-06-14 01:23] AgeManning commented on #10
A good example of implementing a service that opens a port, decodes packets and sends them upwards using `tokio` is `mdns` in libp2p: https://github.com/libp2p/rust-libp2p/blob/master/misc/mdns/src/service.rs

This example uses a UDP socket, whereas hobbits would require a TCP socket.

[2019-06-14 16:45] jrhea commented on #17
@nanspro FYI, the hobbits specification was updated yesterday with minor changes.  Take a look at it again before starting work.  Thanks

[2019-06-14 17:23] jrhea commented on #17
I might have a couple more mods to RPC today, but nothing too major.

[2019-06-14 18:46] nanspro commented on #17
Thanks for your approval @jrhea ! I am on it.
If i have any questions should i ask you on github or is there any dev channel for hobbits ?

[2019-06-15 15:24] KevinKelley commented on #10
@AgeManning I'm not seeing where you get "events".  This seems to be packet based, there's a header and a payload... are you talking about streaming thru the payload, parsing and generating events from it?

Or do you just mean, at a higher level, to provide a stream, that can be iterated thru or waited on, for packets to come in.

TCP is basically send/receive... polling on that is kind of a hack.

[2019-06-15 15:45] jrhea commented on #17
@nanspro ask questions here, but I'm thinking about setting up a gitter channel. I am managing a few of these so it might make it easier

[2019-06-15 17:51] decanus commented on #12
@gitcoinbot yes I am

[2019-06-15 19:17] renaynay commented on #9
https://github.com/renaynay/go-hobbits

[2019-06-15 19:38] renaynay commented on #13
Still working.

[2019-06-15 19:42] jrhea commented on #7
@atoulme decided to let someone else work this bounty.

[2019-06-16 03:43] AgeManning commented on #10
@KevinKelley - I imagine this to be built as a "service" which can be run asynchronously. This is effectively building a service that behaves like a `Stream` that provides decoded events and can be waited on, as you say in the second paragraph.

The `poll()` function which provides the output of the `Stream`, also drives the service, as it processes (decodes and sends) any messages that need to be

[2019-06-16 03:57] KevinKelley commented on #10
@AgeManning makes sense, thanks

[2019-06-16 17:34] #9 closed

[2019-06-16 17:41] jrhea commented on #17
@nanspro here is a link to a Hobbits discourse topic.  Several people will be monitoring that topic.  Feel free to ask questions there:

https://discourse.deltap2p.com/t/hobbits-bounties/54

[2019-06-16 17:45] jrhea commented on #10
@AgeManning & @KevinKelley here is a link to a Hobbits discourse topic.  https://discourse.deltap2p.com/t/hobbits-bounties/54

[2019-06-16 18:12] nanspro commented on #17
Awesome :+1:
Here is a link to the [repo](https://github.com/nanspro/Hobbits.py) where i am pushing my code with progress. I am almost done just have to write one more test for tcp transport(in which i will send a msg to server and then decode it and again encode it to send it back to client), i am thinking of using threading to run server and client on different threads so that i won't have to ru

[2019-06-17 00:01] jrhea commented on #17
@nanspro fyi, i will also be running this conformance test against your implementation:

https://github.com/deltap2p/hobbits/tree/master/test/conformance

Can you include a sample app with your implementation so I can run it?  Here is an example one that was created for the go implementation:

https://github.com/renaynay/go-hobbits/blob/master/demo/sample.go

[2019-06-17 00:36] AgeManning commented on #10
@KevinKelley - You can find me on gitter or here, if you have any questions/concerns :)

[2019-06-17 01:43] KevinKelley commented on #10
@AgeManning +1 thanks :)

[2019-06-17 11:15] mul1sh commented on #7
@jrhea  i've gone through the code and i believe I can get this issue done in the next few days, thanks

[2019-06-17 14:25] jrhea commented on #10
@KevinKelley fyi, i will also be running this conformance test against your implementation:

https://github.com/deltap2p/hobbits/tree/master/test/conformance

Can you include a sample app with your implementation so I can run it? Here is an example one that was created for the go implementation:

https://github.com/renaynay/go-hobbits/blob/master/demo/sample.go

Thanks!

[2019-06-17 23:53] KevinKelley commented on #10
@jrhea Yes, no problem.

[2019-06-18 10:14] nanspro commented on #17
@jrhea  it's ready for review!!
I have submitted it on gitcoin too.

[2019-06-18 14:28] jrhea commented on #17
@nanspro it just takes awhile for the gitcoin transactions to go thru sometimes.  I will review and also have someone at the EF review

[2019-06-18 15:40] jrhea commented on #17
@nanspro I did a `pip install -r requirements.txt` then tried to run the sample, but i get this error:

[code]

Can you provide instructions on how to run it?  I am not well versed in Python

[2019-06-18 15:57] nanspro commented on #17
@jrhea sorry for that, i have structured the package properly now and you can run all files present in `hobbits/`. To run tests use `pytest tests/test.py`

[2019-06-18 16:38] nanspro commented on #17
@jrhea really sorry for the mishap. I have properly tested everything and restructured my code. Should work now :+1:
Also i removed pytest and now you can run `python3 hobbits/test.py` to run all the unit tests.
Use `python3 hobbits/{pyfile}` to run any file.

[2019-06-18 17:23] jrhea commented on #17
@nanspro no worries.  FYI, I ran the conformance tests and got an error:

[code]

[code]

[2019-06-18 18:07] nanspro commented on #17
@jrhea  in python3 you need a string is an encoding of bytes so you need to convert it to bytes before sending.
Ex: `msg =  'EWP 0.2 RPC 0 25\n{"id":1,"method_id":0x00}'` will cause this error so instead i am using
`msg = b'EWP 0.2 RPC 0 25\n{"id":1,"method_id":0x00}'`, now msg is not a string instead it's an byte literal . You can have a look at test.py to see how i am testing parser and marshall

[2019-06-19 03:56] jrhea commented on #17
@nanspro i believe that your parser code works, but the point of the conformance test is to ensure that all implementations are wire compatible.

[2019-06-19 05:09] KevinKelley commented on #10
Work in progress; project layout is set up; am working to implement everything now.

repo will be at https://github.com/KevinKelley/hobbits-rs ...at the moment it's nowhere near worth looking at unless you just like to see something's happening.

No issues yet to ask about.  One question; the docs call out only TCP; is there likely a need for different transport mechanism?  Wondering how much to m

[2019-06-19 09:37] nanspro commented on #17
@jrhea i fixed that error, it occurred due to length of data being 0 in one case. Here is the output of running conformance tests, it is the same as running it with https://github.com/renaynay/go-hobbits/blob/master/demo/sample.go, also no error on another terminal running server now.
[code]

[2019-06-19 14:00] #17 closed

[2019-06-19 19:26] nanspro commented on #18
@gitcoinbot :heart:
I just completed the python implementation for hobbits and will start working on this from tomorrow.
@jrhea you can expect it to be done within 8-9 days maxx

[2019-06-19 19:53] jrhea commented on #10
Modular is good, but not a hard requirement. Follow your conscience 😁. FWIW, there is potential for other transports being tested in the future, but we are sticking with TCP for now.

[2019-06-19 21:21] janus commented on #2
Is 1USD not small?

[2019-06-19 22:55] timbeiko commented on #2
@janus it is 😅It is just there as a placeholder, because this bounty is blocked by #1. When that one is done, we will fund this one. Would you potentially be interested in implementing it?

[2019-06-20 12:18] janus commented on #2
@timbeiko

Sure , I would be .

[2019-06-20 17:22] mbaxter commented on #1
Hey @notlesh - just wanted to check in and see if you saw my [review comments on your PR](https://github.com/PegaSysEng/pantheon/pull/1334#pullrequestreview-247837114) and the merge conflict fixes I pushed [here](https://github.com/notlesh/pantheon/pull/5).  Feel free to ping me on gitter if you want to discuss anything!

[2019-06-20 21:24] mul1sh commented on #7
@jrhea just to clarify is this bounty still open? thanks

[2019-06-21 15:26] jrhea commented on #18
@nanspro working with some other teams today to make the spec a little bit more coherent for when you integrate into Trinity.  I will message you here when it is done

[2019-06-21 15:36] nanspro commented on #18
Sounds good @jrhea
Trinity offers different types of plugins so my guess is that we'll need a plugin which will spawn their own isolated process and will interact with other peers to get info.

I am reading more about these plugins and how they interact with the event_bus. Let me know when it is ready!!

[2019-06-21 19:15] renaynay commented on #13
Still working. Waiting on hobbits spec update to finish design doc.

[2019-06-21 20:08] notlesh commented on #1
I see them. I should be able to take a look this weekend. Thanks!

[2019-06-24 15:11] jrhea commented on #10
@KevinKelley how's the implementation going?

[2019-06-24 16:27] decanus commented on #12
@gitcoinbot yes but I am lazy

[2019-06-24 18:37] shemnon opened #19 "BLAKE2b Implementation in Pantheon for Istanbul Hard Fork"
### Description
As part of the Istanbul network upgrade, BLAKE2b support will be added to Ethereum.

This bounty is to implement a BLAKE2b precompile as part of Pantheon that conforms to the specification in EIP-131 (as specified in this [Github PR link](https://github.com/ethereum/EIPs/pull/2129/files)) as required for the Istanbul Hard fork [EIP-1679](http://eips.ethereum.org/EIPS/eip-1679).

**

[2019-06-24 23:37] KevinKelley commented on #10
@jrhea sorry, I got swamped last week, and didn't get much farther.  Positive note, this week is open, I'm working on it now, and I expect to have something to look at over the next couple days...

[2019-06-26 06:56] atoulme commented on #19
I'll look at implementing this functionality, if you'll have me.

[2019-06-26 09:50] KevinKelley commented on #10
progress report... marshal and unmarshal are working now, with tests.  Still finishing up more tests, and need to do "proper" idiomatic error handling; then on the the networking.  More later.

[2019-06-26 14:04] jrhea commented on #18
@nanspro here is a PR for the revised spec.  It shouldn't affect the work you have done so far (if so it will be minimal).  https://github.com/deltap2p/hobbits/pull/15.  Feel free to leave comments and open issues/PRs

[2019-06-26 14:12] jrhea commented on #10
fyi, we are incorporating some feedback that was received into a more coherent/organized spec.  here is a link to the PR https://github.com/deltap2p/hobbits/pull/15  feel free to comment or open issues/PRs

[2019-06-26 14:50] timbeiko commented on #19
@atoulme this bounty is part of the [ongoing Gitcoin hackathon](https://gitcoin.co/blog/beyond-blockchain-hackathon/). Anyone is free to start working on it, but the bounty will only be awarded to the winning implementation at the end of the hackathon.

[2019-06-26 16:53] iikirilov commented on #19
@timbeiko I'm a bit confused here. Is the aim do a blake2b precompile or a blake2b f compression precompile?

[2019-06-26 17:15] shemnon commented on #19
It's the Compression Function F precompile, this PR will update EIP-131 - https://github.com/ethereum/EIPs/pull/2129/files

[2019-06-27 17:49] renaynay commented on #13
still working. Just updated hobbits spec and finishing the 2nd draft of design doc

[2019-06-27 19:34] nanspro commented on #18
@gitcoinbot @jrhea  Awesome!!
Off to bed now! Will have a look tomorrow and start immediately

[2019-06-28 10:32] KevinKelley commented on #10
I'm working now on a tokio::codec for this; what I have already works fine for single-message tests.  Where the remote opens a tcp connection, sends a EWP message, and waits a response.  But to handle a stream of messages, simplest thing is to implement `codec`, use tokio futures to keep it async and nonblocking.  Check the envelope header first, to get payload size; if enough bytes are available

[2019-06-29 11:23] nemaniarjun commented on #11
I can work on this if no one is working on it.
I can get this done within the next 5-6 days.

[2019-06-29 14:54] GregTheGreek commented on #11
@nemaniarjun let me double check if one of the Lodestar teams is still playing?

[2019-06-29 15:20] GregTheGreek commented on #11
@nemaniarjun Happy to have you do this, the existing repo you can fork is [here](https://github.com/chainsafe/hobbits-ts) although its outdated a bit its got something to work off of

[2019-06-29 16:12] renaynay commented on #13
Finalised draft of design doc

[2019-07-01 17:35] renaynay commented on #13
forked Prysm and starting to work on the integration.

[2019-07-03 19:39] lamafab commented on #14
@jrhea I assume this issue is a duplicate to #10?

Also:
https://gitcoin.co/issue/PegaSysEng/BountiedWork/10/3110
https://gitcoin.co/issue/PegaSysEng/BountiedWork/14/3115

One is at 2ETH, the other at 5ETH

If this issue is still open I can do it. Some design choices are not fully mentioned in your description.
- Do you want a (external) library which you can then use yourself or should this be im

[2019-07-04 00:39] KevinKelley commented on #10
status update... conformance test passing.  I'm still cleaning/documenting, refactoring for the "best practices" requirement, making it look like it should.

@jrhea are there more tests/requirements I should know about?

    kevin@leopard:~/go/src/github.com/deltap2p/hobbits/test/conformance$ sudo ./conformance --port 12345
    [sudo] password for kevin:
    2019/07/04 08:29:19 Starting Ping Test.

[2019-07-04 00:59] mhluongo commented on #19
To be clear th correct EIP number for the `F` precompile is EIP-152!

https://github.com/ethereum/EIPs/pull/2129/files

[2019-07-04 12:37] timbeiko commented on #19
@mhluongo yours and @shemnon's link are pointing to the same PR. Did the EIP number just change? cc: @iikirilov

[2019-07-06 18:43] renaynay commented on #13
Still working

[2019-07-06 21:33] shemnon commented on #1
Two acceptance criteria are pared down by the PegaSys team evaluating the work, for usability reasons.

* Needs to be able to detect that a node is running in a UPNP NAT environment.

Pared down to enabled or disabled at CLI.  By default we don't want this activating.

* Provides configuration options to enable/disable Port Forwarding through the NAT. Including the ability to map both TCP and UDP

[2019-07-07 22:44] jrhea commented on #10
@KevinKelley sorry for the delay. Had some health issues last week.  Sounds like you are close (if not already done). Let me get back to you on the tests.

[2019-07-08 01:24] atoulme commented on #10
Hello Kevin,

I took a first look at the repo:
* It would be good to add a license (MIT or Apache)
* It would be nice to have instructions to build (and so I can make sure tests pass), if possible.
* Some commented out code in there (https://github.com/KevinKelley/hobbits-rs/blob/master/src/lib.rs#L3) can you remove all code commented out so it's easier to review?

[2019-07-08 05:53] nanspro commented on #18
Was OOO for a while!! Resuming it immediately!!

[2019-07-08 06:02] KevinKelley commented on #10
@jrhea okay.

@atoulme yes... noted.  I'll finish up cleanup and documenting, have a reviewable version ready tomorrow

[2019-07-08 09:21] iikirilov commented on #19
EIP-152 is the successor of EIP-131.

[2019-07-09 16:00] alexvotofuture commented on #1
Hey @notlesh, we're ready to send you the bounty funds! Can you please just click "Submit Work" on the Gitcoin bounty page and link to your PR so I can pay it out?

[2019-07-09 16:30] decanus commented on #12
@gitcoinbot still working

[2019-07-09 21:08] notlesh commented on #1
@alexvotofuture I've went through the "Submit Work" procedure. Thanks much, I enjoyed working on this project!

[2019-07-10 11:49] #1 closed

[2019-07-10 11:49] timbeiko commented on #1
Closing. @notlesh let me know if you have any issues with the payment. Thanks again for your work!

[2019-07-12 19:35] shemnon commented on #19
Because completion of the hack was impossible (specifically the Gas calculation has not been specified in the EIP) we have decided to offer a compromise prize.  @iikirilov submitted the most complete solution, and that solution has the hardest part of the EIP complete: an implementation of the F compression function.  We will award half the hackathon bounty now based on that work.  Once the EIP is

[2019-07-13 14:24] renaynay commented on #13
Still working

[2019-07-16 04:25] KevinKelley commented on #10
@atoulme Hey... hi.  Sorry so slow; I keep thinking of new things to try, instead of just cleaning up what already works.  Anyway, I have now pushed a clean, updated version to [KevinKelley/hobbits-rs](https://github.com/KevinKelley/hobbits-rs)
I'll appreciate a review and any suggestions, if/when you have time.

@jrhea Anything new on the conformance front?  Reason I brought it up, is that the co

[2019-07-18 10:17] AgeManning commented on #10
Hey!
I've had a quick skim through this. Nice work!
I have a few small comments which may be helpful.

Ideally, we would like to return errors where possible rather than panic-ing. I notice there are a few cases where the `unwrap()` could be replaced for improved readability. For example:
https://github.com/KevinKelley/hobbits-rs/blob/master/src/encoding/unmarshal.rs#L7-L8
Here the option could be

[2019-07-18 11:05] KevinKelley commented on #10
@AgeManning Thank you!  Yes, very helpful :)  You answered a couple questions that I had.

re: panic() ...yes, for sure.  I must have overlooked; will review

re: returning EwpError() instead of None, on partial input... That's definitely easier, and makes sense as you say; in this context, partial is most likely to be a bad envelope, I'd guess.

re: Hobbits spec version:  I'm not clear on the int

[2019-07-18 22:41] AgeManning commented on #10
I'm not sure about the version either. Perhaps it's a better question for @atoulme

[2019-07-19 01:38] atoulme commented on #10
Yes, this specifies the version of the Hobbits spec version, which versions all the protocols under it.

[2019-07-19 16:27] nanspro commented on #18
Have forked the repo and working on understanding how beacon nodes communicate

[2019-07-19 16:36] renaynay commented on #13
still working

[2019-07-19 20:55] ns55ai commented on #11
I have completed work on this bounty challenge, my code is at [](https://github.com/ns55ai/hobbits-js).
If you need any changes I will happily do it.

If you like my work please do send bounty amount at my ETH address @ 0x5382e83DFC120E601A661E5DE512fb2dA30890FC
My email address is available on my profile page.

[2019-07-20 21:09] jrhea commented on #10
@KevinKelley I will review tomorrow. Thanks!  Also, @atoulme and @AgeManning u guys might wanna look as well.  Thanks everyone

[2019-07-20 22:31] atoulme commented on #10
LGTM. One small thing: there is no PONG protocol so you can remove `protocol != "PONG"` in your code. Otherwise let's get this in. Good work Kevin!

[2019-07-20 22:37] KevinKelley commented on #10
Got it... and done .  Thanks!

[2019-07-21 17:36] balajipachai commented on #14
Yes, I am currently working on it. Will approach the team in case of any questions.
Thanks,
Balaji Pachai

[2019-07-21 19:17] jrhea commented on #10
@KevinKelley thanks for sticking with this.  i am approving now

[2019-07-21 19:34] nanspro commented on #18
@jrhea i am currently working on this but due to inactivity i was removed. I will definitely try to finish it by this weekend and will keep updating you with my progress!!

[2019-07-21 22:14] KevinKelley commented on #10
I seem to be having trouble here.  Gitcoin now shows me as having no work in progress, like it closed this one out or something

[2019-07-21 22:31] KevinKelley commented on #10
@jrhea Submitted on gitcoin.  This was an interesting project!  I'd love to do more with it.

Thanks to all..

[2019-07-22 02:12] AgeManning commented on #10
@jrhea @atoulme - Just wanted to confirm that the hobbit spec uses the '\n' to delimitate headers from message data. This doesn't seem all that logical as hashes are likely sent which will I imagine will often contain the byte equivalent of `\n`.

[2019-07-22 02:53] jrhea commented on #10
@AgeManning I believe an earlier version used `\n` but v3 doesn't.  There were some upgrades made to the spec as we began trying to Interop with prysmatic. @atoulme and I felt bad about it and didn't want to ask @KevinKelley to do it since he had already begun work. We will bite the bullet and update it to conform.

[2019-07-25 20:15] timbeiko opened #20 "Stratum Implementation for Besu"
Currently [Besu](https://github.com/hyperledger/besu) only supports CPU based Ethash mining. This is known to be insufficient, even for test networks. This bounty is to add support for the various mining APIs that would enable miners to use a single Besu node while mining across multiple GPUs.

The documentation around mining protocols is known to be fuzzy and incomplete. As part of this bounty re

[2019-07-26 00:16] shemnon commented on #19
The gas cost appears to be specified in https://github.com/ethereum/EIPs/pull/2129.  While this is still open the got some positive feedback on the All Core Devs call.  Can you finish the gas cost calculations and function registration based on these values?

[2019-07-27 21:29] jrhea commented on #18
@nanspro I think I removed u on accident. I will add u back. R u still interested?

[2019-07-28 12:24] nanspro commented on #18
@jrhea  yes i am really interested and hoping to finish it ASAP.

[2019-07-29 05:51] samparsky commented on #14
@jrhea is this issue still open? I'd like to give it a shot

[2019-07-29 07:09] lamafab commented on #14
... everyone's chasing bounties :sweat_smile:

[2019-07-29 18:49] jrhea commented on #18
Excellent...sorry for the mishap.

FYI, take a look at the new hobbits spec.  it explains the ETH2 specific message format more concisely:  https://github.com/deltap2p/hobbits/blob/41d928ed12523468aab657a9ae1bd658468fa0c9/specs/spec.md

[2019-07-31 18:12] #10 closed

[2019-08-07 18:33] nanspro commented on #18
Ping pong worked between nodes and now moving to specific rpc calls

[2019-08-16 03:11] edsonayllon commented on #20
I ran out of time, but would be willing to finish the project without a time pressure. All research documentation is found here: https://github.com/edsonayllon/Stratum-Implementation-For-Pantheon. All that remains is configuring the Stratum API within Pantheon, which I started here: https://github.com/edsonayllon/pantheon.

[2019-08-17 16:24] nanspro commented on #18
Just debugging some errors while importing my python impln. Gonna push my significant progress this weekend(day after tomorrow)

[2019-08-20 14:51] faraggi commented on #20
Unfortunately, this bounty was started but hasn't been finished by anyone and time has expired.

We've therefore decided to continue working with the sole contributor, @edson#1995 and we'll be communicating and coordinating directly with him on the subject.
Thanks for everyone that even *considered* working on this ticket! We'll keep you posted with more bounties soon.

[2019-08-29 16:17] nanspro commented on #18
Some hackathons and exams led to delay. Really sorry for that. I plan to submit my progress this weekend!!

[2019-09-10 16:17] nanspro commented on #18
Got busy with exams and this hackathon. Resuming in 3 days, hard deadline at 21st. Will stop otherwise!!

[2019-09-11 07:33] KevinKelley commented on #10
(sorry to spam an old thread...)

@jrhea  (or anyone) is there any ongoing activity here?  I'm having some free time and want to keep on with some ideas related to this project, but far as I can tell they've stopped updating since July or so.

Where's a good active project similar to this, Hobbits and p2p and Ethereum (and Rust) that maybe I could get involved in?

[2019-09-16 15:46] timbeiko commented on #19
@shemnon should we close this?

[2019-09-16 15:47] #19 closed

[2019-09-18 18:31] shemnon commented on #20
Hi Edson,

Thanks for your submission!

Unfortunately, there are still issues with the code as it stands in your latest commit:
• With this patch Besu does not broadcast blocks mined by the external miners
• There is no API for external miners to report back their work (such as `eth_submitWork`)
• There are no unit tests for the new functionality submitted

For these reasons, and the fact that bot

[2019-09-19 09:41] faraggi commented on #20
Sorry to head it didn't pan out, @edsonayllon.
Thanks for the effort!
The bounty is now open again. https://gitcoin.co/issue/PegaSysEng/BountiedWork/20/3281

[2019-09-23 19:01] jrhea commented on #7
Bounty Canceled

[2019-09-23 19:01] #7 closed

[2019-09-23 19:03] jrhea commented on #14
Bounty Canceled

[2019-09-23 19:03] #14 closed

[2019-09-23 19:04] jrhea commented on #16
Bounty Canceled

[2019-09-23 19:04] #16 closed

[2019-09-23 19:06] jrhea commented on #18
Bounty Canceled

[2019-09-23 19:06] #18 closed

[2019-09-23 19:07] jrhea commented on #12
Canceled Bounty

[2019-09-23 19:07] #12 closed

[2019-09-23 19:08] jrhea commented on #13
Bounty Canceled

[2019-09-23 19:08] #13 closed

[2019-09-23 19:10] jrhea commented on #15
canceled bounty

[2019-09-23 19:10] #15 closed

[2019-09-23 19:12] jrhea commented on #11
bounty canceled

[2019-09-23 19:12] #11 closed

[2019-09-24 23:42] prestonvanloon commented on #13
@jrhea I was working with @renaynay on this issue and they had spent countless hours and several weeks working on this task. While it was ultimately not accepted into the upstream repository, they put in a lot of careful effort towards the goal of hobbits integration.

I'm asking if you'd consider a partial bounty reward for @renaynay's efforts. What do you think?

[2019-10-12 01:38] timbeiko commented on #20
I have just updated the bounty. The amount has been raised to 6.500DAI and the deadline has been removed given that no one could complete it by the end of the Gitcoin Hackathon.

[2019-10-12 05:07] atoulme commented on #20
I'd be happy to give it a shot, and kick some of the bounty to @edsonayllon as I'd be building off his research.

[2019-10-13 19:29] mul1sh commented on #20
Is this bounty still open, would love to give it a shot too but it seems I can't start work in gitcoin for some reason.

[2019-10-14 01:26] faraggi commented on #20
@mul1sh Yes, the bounty is open and the rewards has increased to 6500 DAI.
I'd recommend starting work. The gitcoin page will be updated ASAP.

@atoulme If you receive the reward, that would be entirely up to you. :)
You sure got back to work quickly after devcon, huh!

[2019-10-14 04:42] mul1sh commented on #20
@faraggi awesome, thanks. I'll start then 🙂

[2019-10-14 23:50] shemnon commented on #20
Heads up, this PR will almost certainly impact the code being written: https://github.com/hyperledger/besu/pull/104

[2019-10-23 09:57] atoulme commented on #20
I have not heard back, and started the work. Here is where things stand:

1. implement submitWork, since getWork is implemented already. See PR https://github.com/hyperledger/besu/pull/129
2. change the MiningParameters class to allow to set a stratum network interface and port, and a version of stratum to support. May also need a switch to enable/disable CPU mining.
3. implement a Vert.x server t

[2019-10-23 11:25] atoulme commented on #20
2.a: https://github.com/hyperledger/besu/pull/130

[2019-10-23 11:32] atoulme commented on #20
I reviewed the changes, and I think mine won't clash. It's always possible something will conflict - I'll rebase then.

[2019-10-28 21:50] timbeiko commented on #20
@atoulme we'll assign the bounty to you to keep working on and move it to a `Started` state.

cc: @mul1sh unfortunately, for now the bounty will be reserved for Antoine. Thank you for taking part in the competition!

[2019-10-29 02:15] mul1sh commented on #20
@timbeiko  thats totally fine, I actually stopped working on it last week, thanks 🙂

[2019-10-30 13:41] timbeiko opened #21 "[EthWaterloo] Best Enterprise Mainnet Use of Hyperledger Besu"
### Hyperledger Besu is the first Enterprise Ethereum client which is mainnet-compatible.

For this bounty, our team would like to harness the ETHWaterloo community’s creativity for the best Enterprise Mainnet use of the Besu client.

What do we mean by Enterprise Mainnet? There are two main ways to think about it:

1. Using mainnet as a way for permissioned networks on Ethereum to better interope

[2019-10-31 19:15] matkt commented on #2
Hi @timbeiko ! can you assign it to me so that I can work on it? Thank you

[2019-10-31 19:25] timbeiko commented on #2
@matkt will do! Just need to get it configured on Gitcoin.

[2019-10-31 19:54] matkt commented on #2
thank you for your reply. I just linked my github account to Gitcoin. do not hesitate to tell me if another step is necessary

[2019-10-31 20:23] janus commented on #2
@matkt ,
I was promised this task but seeing your energy ...I would not apply for it. But if you won't mind I would be aco-worker , and a 18% cut wont the bad.

[2019-11-01 12:08] timbeiko commented on #2
@janus apologies for assigning this to @matkt without getting back to you.

Given that this task involves some design changes, we wanted to be sure someone who had already contributed to our codebase would take it. @matkt has contributed several [GoodFirstIssues](https://pegasys1.atlassian.net/secure/Dashboard.jspa?selectPageId=10117#Filter-Results/10271) prior to this and asked us if we had large

[2019-11-01 12:44] janus commented on #2
@timbeiko,

It is okay and acceptable.. I can't even apply now ...but if @matkt don't mind I would like to work and learn along then.  This is interesting issue .

[2019-11-10 08:32] matkt commented on #2
yes I work on it and I just prepared the kick off call which will allow to start the implementation

[2019-11-10 15:16] timbeiko commented on #2
@matkt sorry about that. We snoozed these reminders for 1 year 😄

[2019-12-04 16:23] #21 closed, assigned to nobody

[2019-12-04 16:23] #20 closed

[2020-01-15 07:41] #2 closed

[2020-01-16 20:55] matkt commented on #3
Hi @timbeiko I wanted to take this bounty on Gitcoin but I couldn't find it. Do you have the link ?

[2020-01-17 21:22] matkt commented on #3
Hi @timbeiko I just applied for this bounty. I'm waiting for your agreement to start it

[2020-01-19 03:52] timbeiko commented on #3
The Gitcoin team needs to approve it formally, but you can get started, @matkt. The bounty will be fore 1250 DAI.  They'll approve shortly :-)

[2020-01-28 16:08] timbeiko opened #22 "TBA"
Details TBA before ETHDenver :-)

[2020-02-01 12:55] matkt commented on #3
Hi, I'm working on it. I will propose a PR as soon as possible !

[2020-02-04 14:02] #22 closed, assigned to nobody

[2020-02-05 18:09] timbeiko commented on #3
Sorry about these pings, @matkt ! Feel free to ignore them.

[2020-02-11 03:56] MadelineMurray opened #23 "Move Orion peer table to memory and implement environment variables for configuration"
### Overview

This bounty is to add high availability support to Orion and provide easier configurations (via environment variables) to make deployment of Orion in Kubernetes simpler.

### Technical Details

The bulk of the technical work to provide high availability for Orion consists of moving Orion's peer table out of memory and storing it in the Orion database. Multiple Orion instances can the

[2020-02-12 19:36] timbeiko commented on #3
@matkt I just paid out the bounty via the tip above. Please let me know if you have any problems. Closing the issue.

[2020-02-12 19:36] #3 closed

[2020-02-12 19:41] timbeiko commented on #4
@matkt I funded this Gitcoin issue and reserved it for you.

[2020-02-13 18:35] xiaods commented on #23
hi team, i have seen the bounty's summary, quote from the comments:

so we only need consider k8s environment? use helm to deploy orion?

[2020-02-14 13:07] xiaods commented on #23
@MadelineMurray i want to discussion with team, breakdown the task to some sub-task to do it asap. any chance to share the chat channel let me to ask some question?

[2020-02-14 14:40] mul1sh commented on #23
@timbeiko i have sucessfully deployed an Orion instance locally i.e i'm able to send and receive payloads. I'm confident I can sort this issue by mid-next week if approved to work :slightly_smiling_face: thanks.

[2020-02-14 14:46] timbeiko commented on #23
Hi @xiaods @mul1sh,

Sorry about that, but the bounty is reserved for @atoulme. We tried to mark it on Gitcoin but there was a bug and it couldn't be reserved for him on the platform.

We should be putting out more bounties in the next few weeks, so please keep an eye out on this repo.

Thanks!

[2020-02-14 14:48] mul1sh commented on #23
@timbeiko no worries thanks for the heads up

[2020-02-15 01:49] xiaods commented on #23
@timbeiko Thanks for reminder.

[2020-02-17 15:27] timbeiko commented on #23
@atoulme you're good to go 😄

[2020-02-18 19:57] timbeiko commented on #4
@matkt you applied to the wrong bounty. I created a new one on Gitcoin that is already funded and reserved for it. Could you please apply to this one? https://gitcoin.co/issue/PegaSysEng/BountiedWork/4/4002

Thanks!

[2020-02-18 20:13] matkt commented on #4
Of course . I just did it. thanks

[2020-02-19 19:51] timbeiko commented on #4
@matkt bounty paid. Thank you :-)

[2020-02-19 19:51] #4 closed

[2020-02-20 19:23] timbeiko commented on #23
Sorry about the ping, Antoine. Snoozed for 100 days.

[2020-02-20 20:11] atoulme commented on #23
No worries. The PR is here! https://github.com/PegaSysEng/orion/pull/332

[2020-03-06 09:07] timbeiko commented on #23
@atoulme sent the funds over Gitcoin. Thank for your work on this 😄

[2020-03-06 09:07] #23 closed, assigned to nobody

[2020-03-07 02:30] atoulme commented on #23
:+1: thanks folks, been a pleasure!

[2020-03-19 15:33] timbeiko opened #24 "Eth/65 Integration Bounty"
# Description
Implement [EIP-2464](https://eips.ethereum.org/EIPS/eip-2464) to enable the eth/65 protocol on Hyperledger Besu. As the EIP specifies, this should enable Besu to only announce new transactions rather than to always fully propagate them.

Specifically, this means adding the following `eth` message types to Besu:
* `NewPooledTransactionHashes (0x08)` to announce a set of transactions w

[2020-03-19 15:36] atoulme commented on #24
I would like to apply for this work.

[2020-03-20 13:39] timbeiko commented on #24
Reserved for you @atoulme 😄 Will reflect in Gitcoin when the proper bounty is up.

[2020-03-28 00:30] atoulme commented on #24
Here is the PR for this work: https://github.com/hyperledger/besu/pull/608

[2020-04-06 18:13] #24 closed, assigned to nobody